<!doctype html>
<title> Stock Ticker Lookup </title>
<div class = page>
  <h1> Stock Ticker Lookup </h1>
  <form id = 'tickerinfo' method = 'post' action = 'plotStocks'>
    <p>
    Ticker symbol: <input type = 'text' name = 'ticker'/>
    </p>

    <p>
    Month (2016): <br/>
    <input type = 'radio' name = 'month' value = '01'/> January <br/>
    <input type = 'radio' name = 'month' value = '02'/> February <br/>
    <input type = 'radio' name = 'month' value = '03'/> March <br/>
    <input type = 'radio' name = 'month' value = '04'/> April <br/>
    <input type = 'radio' name = 'month' value = '05'/> May <br/>
    <input type = 'radio' name = 'month' value = '06'/> June <br/>
    <input type = 'radio' name = 'month' value = '07'/> July <br/>
    <input type = 'radio' name = 'month' value = '08'/> August <br/>
    <input type = 'radio' name = 'month' value = '09'/> September <br/>
    <input type = 'radio' name = 'month' value = '10'/> October <br/>
    <input type = 'radio' name = 'month' value = '11'/> November <br/>
    <input type = 'radio' name = 'month' value = '12'/> December <br/>
    </p>

    <p>
    <input type = 'submit' value = 'Submit'/>
    </p>
  </form>
</div>
